body{
    font-family: 'Poppins', sans-serif;
}
button{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
    background: #c51422
}
header text{
    color: white;
}

.logo-container,.nav-links, .cart{
    display: flex;
    background: #c51422
} /*Stretches each box across the screen*/


nav{
  flex: 2;
  ;
;
    
   
}

.nav-links{
    justify-content: space-around;/*Stretches the list across flex box*/
    list-style: none;/*removes bullet points*/
    color:white;
    
}
.nav-link{
    font-size: 18px;
    text-decoration: none;


}

.cart{
    
    flex: 1;
    justify-content: flex-end;
}
.logo-container{
    
    flex: 1;
}
.logo-container img{
    width: 65px;
    height: 65px;
}
.logo{
    font-weight: 400;
    margin: 5px; /*Two lines above space out the logo and the words*/
    color: white;
    
}
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
     
}

.introduction{
    flex: 1;
    
}
.intro-text h1{
    font-size: 35px;
    font-weight: 500;
    background: linear-gradient(to right, #494964,#6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin-top: 5px;
    font-size: 18px;
    color: #585772;
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid #c51422;
    background: transparent;
    color: #c51422;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    margin-top: 30px;
}
.cta-add{
    background: #c51422;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin-top: 30px;
}
.cover{
    flex: 1;
    display: flex;
    height: 60vh;
    justify-content: center;
}
.cover img{
    
    filter: drop-shadow(0px 5px 3px black);/*Add shadow directly to PNG*/
    animation: drop 1.5s ease;
    height: 100%;
}
.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;/*Moves circle to the background*/
    opacity: 0.7;
    height: 80%;
}
.mid-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    opacity: 0.4;
    height: 60%;
}
.laptop-select{
    width: 30%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
}
@keyframes drop{
    0%{
        opacity: 0;
        transform: translatey(-80px);
    }
    100%{
        opacity: 1;
        transform: translatey(0px);
    }
}
@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text p{
        font-size: 18px;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .nav{
        flex-direction: row;
        margin: 5px;
    }
    .cover img{
        height: 80%;
    }
    .small-circle,.big-circle,.mid-circle{
        opacity: 0.2;
    }
    .nav-link{
        margin: none;
    }
}


